body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #D49300;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #312200;
}

a:visited {
    color: #312200;
}

a:active
{
    color: #312200;
}

#main-container {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: 50;
    transition: 0.3s;
    left: 0px;
}

#main-header {
    width: 100%;
    height: 70px;
    background: #b27c00;
    background-image: url('res/header.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
    transition: 0.3s;
}

#main-subheader {
    width: 100%;
    height: 50px;
    background: #b27c00;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

#main-subheader a {
    margin: auto;
    text-decoration: none;
    font-size: 14px;
    color: #ffecc0;
    flex-grow: 1;
    transition: 0.3s;
    padding: 15px;
    text-align: center;
}

#main-subheader a:hover {
    background: #885f02;
}

#main-holder {
    width: 100%;
    height: 100%;
    background-color: #D49300;
    background-image: url('res/preloader-clock.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
    overflow: hidden;
    flex: 1;
}

#navigation {
    background-color: #100c00;
    color: #999;
    width: 0px;
    height: 100%;
    overflow: hidden;
    display: block;
    position: fixed;
    z-index: 80;
    transition: 0.3s;
}

#blue-container {
    background: #51C5B8;
}

#slider1
{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}


#slider1 .z-slide-item {
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    margin-top: -10px;
    margin-left: -40px;
    list-style-type: none;
}

#slider1 .z-slide-item:nth-child(1) {
    background-color: #5cb85c;
    
}

#slider1 .z-slide-item:nth-child(2) {
    background-color: #099fde;
}

#slider1 .z-slide-item:nth-child(3) {
    background-color: #d9534f;
}

#slider1 .z-slide-item a {
    color: #fff;
}

#slider1 .z-slide-item h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#slider1 .z-slide-dot.active {
    background-color: #000;
}
